// text
$headerText: hsl(208, 49%, 24%);
$footerText: hsl(240, 2%, 79%);
$dropdownText: hsl(208, 49%, 24%);


// background
$footerBackground: hsl(240, 10%, 16%);
$hoverBackground: hsl(355, 100%, 74%);

// bg-gradient
$bodyBgGrayBlue: hsl(237, 17%, 21%);
$bodyBgDesaturatedBlue: hsl(237, 23%, 32%);

// font
$Overpass: 'Overpass', sans-serif;
$Ubuntu: 'Ubuntu', sans-serif;