@media (min-width: 900px) {
    header{
        .logo_ul{
            display: flex;
            column-gap: 2rem;
            align-items: center;
            ul{
                display: flex !important;
                .navLists{
                    ul{
                        display: block !important;
                        li{
                            display: none;
                        }
                    }
                }
            }
        }
        ul{
            display: flex;
            justify-content: space-between;
            column-gap: 1rem;
            .navLists{
                ul{
                    display: block;
                }
            }
        }
        .login_signup{
            display: flex !important;
        }
        .bars{
            display: none;
        }
    }
}