@media (min-width: 600px) {
    .section_3{
        img{
            background-size: cover !important;
        }
    }
}


@media (min-width: 1024px) {
    header{
        .logo_ul{
            display: flex;
            column-gap: 4rem;
            align-items: center;
            ul{
                display: flex !important;
                column-gap: 2rem;
                .navLists{
                    ul{
                        display: block !important;
                        li{
                            display: none;
                            // & :hover{
                            //     display: block !important;
                            // }
                        }
                    }
                }
            }
        }
        ul{
            display: flex;
            justify-content: space-between;
            column-gap: 1rem;
            align-items: center;
            .navLists{
                ul{
                    display: block;
                    li{
                        color: hsl(240, 16%, 92%);
                    }
                }
            }
        }
        .login_signup{
            display: flex !important;
        }
        .bars{
            display: none;
        }
    }
    .section1{
        h1{
            font-size: 3.5rem;
            font-weight: 400;
        }
    }
    .section2_mother_container{
        display: flex;
        align-items: center;
        .img_deviceContainer{
            order: 2;
            img{
                width: 150%;
                transform: translateX(-10%);
            }
        }
        ul{
            li{
                h4{
                    text-align: start;
                }
                p{
                    text-align: start;
                    width: 70%;
                    margin-left: auto;
                }
            }
        }
    }
    .section_3{
        background-size: 72% !important;
        background-position: -50% 80% !important;
        display: flex;
        flex-direction: row !important;
        align-items: center;
        .section3_h1_p{
            width: 70%;
            margin: 0 auto;
            h1{
                text-align: start !important;
                width: 50% !important;
            }
            p{
                line-height: 1.8;
                text-align: start;
                width: 50% !important;
            }
        }
        img{
            width: 110% !important;
            transform: translate(25%, 40%);
        }
    }

    .section4{
       display: flex;
       align-items: center;
       justify-content: center;
       margin-top: 10%; 
       .imgContainer{
           img{
               width: 200%;
               transform: translateX(-30%);
           }
       }
       ul{
           width: 60.4% !important;
           li{
               h4{
                   text-align: start !important;
                   width: 73% !important;
               }
               p{
                   text-align: start !important;
                   width: 73% !important;
               }
           }
       }
    }
}


// @media (min-width: 900px) {
    
// }