@media (min-width: 1200px) {
    header{
        .logo_ul{
            display: flex;
            column-gap: 4rem;
            align-items: center;
            ul{
                display: flex !important;
                column-gap: 2rem;
                .navLists{
                    ul{
                        display: block !important;
                        li{
                            display: none;
                            // & :hover{
                            //     display: block !important;
                            // }
                        }
                    }
                }
            }
        }
        ul{
            display: flex;
            justify-content: space-between;
            column-gap: 1rem;
            align-items: center;
            .navLists{
                ul{
                    display: block;
                    li{
                        color: hsl(240, 16%, 92%);
                    }
                }
            }
        }
        .login_signup{
            display: flex !important;
        }
        .bars{
            display: none;
        }
    }
    .section1{
        h1{
            font-size: 3.5rem;
            font-weight: 400;
        }
    }
    .section2_mother_container{
        display: flex;

        .img_deviceContainer{
            order: 2;
        }
        ul{
            li{
                h4{
                    text-align: start;
                }
                p{
                    text-align: start;
                    width: 70%;
                    margin-left: auto;
                }
            }
        }
    }
}


// @media (min-width: 900px) {
    
// }