footer{
    background-color: $footerBackground;
    text-align: center;
    margin-top: 6rem;
    border-start-end-radius: 6rem;
    font-family: $Ubuntu;
    .footerLogo{
        padding: 3rem;
    }
    ul{
        // text-align: center !important;
        // width: 10%;
        // margin: 0 auto;
        p{
            color: white;
            text-align: center;
            font-weight: 600;
            // width: 50% !important;
            // margin: 0 auto;
            padding-bottom: 1rem;
        }
        li{
            padding-bottom: 1rem;
          a{
              color: $footerText;
          }  
        }
    }
}