// @import "./../components/media";
header {
  font-family: $Ubuntu;
  position: fixed;
  width: 100%;
  z-index: 200;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78%;
    margin: 0 auto;
    padding-top: 10vh;
    .logo_ul{
        ul{
            display: none;
        }
    }
    .img_logoContainer {
      img {
        cursor: pointer;
        width: 4rem;
      }
    }
    .navLists{
      span{
        font-size: small;
        color: hsl(240, 16%, 92%);
        cursor: pointer;
      }
    }
    .login_signup{
            display: none;      
    }
  }
}
