// @import "./../components/media";
header {
  font-family: $Ubuntu;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78%;
    margin: 0 auto;
    padding-top: 10vh;
    .logo_ul{
        ul{
            display: none;
        }
    }
    .imgContainer {
      img {
        width: 4rem;
      }
    }
    .login_signup{
            display: none;      
    }
  }
}
