.section1{
    background: linear-gradient(
    to bottom,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  border-bottom-left-radius: 6rem;
  .motherContainer1{
    padding-bottom: 8rem;
    background-image: url(/blogr-landing-page-main/images/bg-pattern-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: 181% 205%;
    background-position: center;
  }
}

.section2{
    margin-top: 4rem;
}
.img_deviceContainer{
    padding-top: 3rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    img{
        width: 100%;
    }
}
ul{
    li{
        h4{
            width: 70%;
            margin: 0 auto;
            padding-top: 2rem;
        }
        p{
            line-height: 2;
            color: $bodyBgDesaturatedBlue;
        }
    }
}

