button {
  cursor: pointer;
}

.btn_flex {
  width: 78%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  align-items: baseline;
  padding-top: 2rem;
}

.sign_start {
  border-radius: 1.2rem;
  border: none;
  padding: 0.7rem 1.4rem;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: hsl(356deg, 100%, 66%);
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.sign_start:hover {
  background-color: hsl(355deg, 95%, 77%);
  color: white;
  transform: scale(1.09);
}

.learn {
  cursor: pointer;
  border-radius: 1.2rem;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  color: white;
  transition: 0.4s ease-in-out;
}
.learn:hover {
  background-color: white;
  color: hsl(356deg, 100%, 66%);
  transform: scale(1.09);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-size: 16px;
}

p {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  width: 86%;
  margin: 0 auto;
  line-height: 1.5;
  padding-top: 1rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

h1 {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Overpass", sans-serif;
  text-align: center;
  width: 78%;
  margin: 0 auto;
  padding-top: 7rem;
}

h4 {
  color: hsl(208deg, 49%, 24%);
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}

@media (min-width: 600px) {
  .section_3 img {
    background-size: cover !important;
  }
}
@media (min-width: 1000px) {
  header .logo_ul {
    display: flex;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    align-items: center;
  }
  header .login_signup {
    display: flex !important;
  }
  header .bars {
    display: none;
  }

  .section1 h1 {
    font-size: 3.5rem;
    font-weight: 400;
  }

  .section2_mother_container {
    display: flex;
    align-items: center;
  }
  .section2_mother_container .img_deviceContainer {
    order: 2;
  }
  .section2_mother_container .img_deviceContainer img {
    width: 150%;
    transform: translateX(-10%);
  }
  .section2_mother_container ul li h4 {
    text-align: start;
  }
  .section2_mother_container ul li p {
    text-align: start;
    width: 70%;
    margin-left: auto;
  }

  .section_3 {
    background-size: 72% !important;
    background-position: -50% 80% !important;
    display: flex;
    flex-direction: row !important;
    align-items: center;
  }
  .section_3 .section3_h1_p {
    width: 70%;
    margin: 0 auto;
  }
  .section_3 .section3_h1_p h1 {
    text-align: start !important;
    width: 50% !important;
  }
  .section_3 .section3_h1_p p {
    line-height: 1.8;
    text-align: start;
    width: 50% !important;
  }
  .section_3 img {
    width: 110% !important;
    transform: translate(25%, 40%);
  }

  .section4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  }
  .section4 .imgContainer img {
    width: 200%;
    transform: translateX(-30%);
  }
  .section4 ul {
    width: 60.4% !important;
  }
  .section4 ul li h4 {
    text-align: start !important;
    width: 73% !important;
  }
  .section4 ul li p {
    text-align: start !important;
    width: 73% !important;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
  }
  footer .footerLogo {
    align-items: flex-start;
    padding-top: 0rem !important;
    padding-left: 6rem !important;
  }
  footer ul {
    text-align: start;
  }
  footer ul p {
    width: 100% !important;
    text-align: start !important;
  }
  footer ul li {
    text-align: start;
  }
}
header {
  font-family: "Ubuntu", sans-serif;
  position: fixed;
  width: 100%;
  z-index: 200;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78%;
  margin: 0 auto;
  padding-top: 10vh;
}
header nav .logo_ul ul {
  display: none;
}
header nav .img_logoContainer img {
  cursor: pointer;
  width: 4rem;
}
header nav .navLists span {
  font-size: small;
  color: hsl(240deg, 16%, 92%);
  cursor: pointer;
}
header nav .navLists img {
  cursor: pointer;
}
header nav .login_signup {
  display: none;
}

.section1 {
  background: linear-gradient(to bottom, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
  border-bottom-left-radius: 6rem;
}
.section1 .motherContainer1 {
  padding-bottom: 8rem;
  background-image: url(/blogr-landing-page-main/images/bg-pattern-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: 181% 205%;
  background-position: center;
}

.section2 {
  margin-top: 4rem;
}

.img_deviceContainer {
  padding-top: 3rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.img_deviceContainer img {
  width: 100%;
}

ul li h4 {
  width: 70%;
  margin: 0 auto;
  padding-top: 2rem;
  font-weight: 300;
}
ul li p {
  line-height: 2;
  color: hsl(237deg, 23%, 32%);
}

.section3 {
  background: linear-gradient(to right, hsl(237deg, 17%, 21%), hsl(237deg, 23%, 32%));
  margin-top: 21rem;
  /* border-bottom-left-radius: 6rem; */
  border-start-end-radius: 6rem;
  border-end-start-radius: 6rem;
  padding-bottom: 2rem;
}
.section3 .section_3 {
  background-image: url(/blogr-landing-page-main/images/bg-pattern-circles.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 0 100px 0 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px -8rem;
  padding: 5rem 2rem;
}
.section3 .section_3 img {
  margin-top: -70%;
  width: 100%;
}
.section3 .section_3 .section3_h1_p h1 {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Overpass", sans-serif;
  text-align: center;
  width: 78%;
  margin: 0 auto;
  padding-top: 0rem;
}
.section3 .section_3 .section3_h1_p p {
  width: 100%;
}

.section4 ul li p {
  width: 86%;
}

footer {
  background-color: hsl(240deg, 10%, 16%);
  text-align: center;
  margin-top: 6rem;
  border-start-end-radius: 6rem;
  font-family: "Ubuntu", sans-serif;
}
footer .footerLogo {
  padding: 3rem;
}
footer ul p {
  color: white;
  text-align: center;
  font-weight: 600;
  padding-bottom: 1rem;
}
footer ul li {
  padding-bottom: 1rem;
}
footer ul li a {
  color: hsl(240deg, 2%, 79%);
}/*# sourceMappingURL=style.css.map */