.btn_flex{
    width: 78%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    // text-align: center;
    column-gap: 0.8rem;
    align-items: baseline;
    .btnContainer{
        padding-top: 2rem;
        button{
            border-radius: 1.2rem;
            border: none;
            padding: 0.7rem 1.6rem;
            font-size: 0.8rem;
            font-weight: 500;
            font-family: $Ubuntu;
        }
    }
}
button{
    border-radius: 1.2rem;
    border: none;
    padding: 0.7rem 1.6rem;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: $Ubuntu;
}