p{
    text-align: center;
    color: white;
    width: 86%;
    margin: 0 auto;
    line-height: 1.5;
    padding-top: 1rem;
    font-family: $Ubuntu;
    font-weight: 300;
    font-size: 1rem;
}
h1{
    color: white;
    font-size: 2rem;
    font-weight: 500;
    font-family: $Overpass;
    text-align: center;
    width: 78%;
    margin: 0 auto;
    padding-top: 7rem;
}
h4{
    color: $headerText;
    text-align: center;
    font-family: $Overpass;
    font-size: 1.6rem;
    font-weight: 600;   
}
// h5{
//     font-weight: 500;
//     color: white;
//     padding: 2rem;
    
// }